Repository precog/quasar, pull requests merged in 2020-01, with the labels that each got.

#4465 Update sbt to 1.3.6
  project/build.properties
Labels: version: revision

#4464 Don't specify version for fs2-job in version file
  build.sbt
  fs2-job-version
  project/Versions.scala
Labels: version: revision

#4453 Update scalaz-core to 7.2.30
  project/Versions.scala
Labels: version: revision

#4457 Update netty-all to 4.1.44.Final
  project/Versions.scala
Labels: version: revision

#4471 Update specs2-core, specs2-scalacheck, ... to 4.8.2
  project/Versions.scala
Labels: version: revision

#4472 Update fs2-job to 0.0.11
  project/Versions.scala
Labels: version: revision

#4481 atMostRenamed in getMDS
  impl/src/main/scala/quasar/impl/datasources/DefaultDatasources.scala
Labels: version: revision

#4486 remove printlns
  impl/src/main/scala/quasar/impl/push/DefaultResultPush.scala
Labels: version: revision

#4487 managedDatasourceOf added to DefaultDatasources
  impl/src/main/scala/quasar/impl/datasources/DefaultDatasources.scala
  run/src/main/scala/quasar/run/Quasar.scala
Labels: version: revision

#4485 Update sbt to 1.3.7
  project/build.properties
Labels: version: revision

#4458 Update cats-kernel-laws, cats-laws to 2.1.0
  project/Versions.scala
Labels: :stop_sign:

#4434 Update jawn-util to 0.14.3
  project/Versions.scala
Labels: :stop_sign:

#4333 Update jawn-fs2 to 0.15.0
  project/Versions.scala
Labels: :stop_sign:

#4500 Update/fs2 core 2.2.1
  project/Versions.scala
  qdata-version
  version.sbt
Labels: version: breaking

#4498 Restore linkage error handling when loading source/dest modules
  impl/src/main/scala/quasar/impl/IncompatibleModuleException.scala
  impl/src/main/scala/quasar/impl/datasources/DatasourceModules.scala
  impl/src/main/scala/quasar/impl/destinations/DestinationModules.scala
Labels: version: revision

#4520 Updated slamdata-predef (avoiding eviction issues)
  build.sbt
Labels: version: revision

#4517 Update fs2-job to 1.0.2
  project/Versions.scala
Labels: version: revision

#4475 Update specs2-core, specs2-scalacheck, ... to 4.8.3
  project/Versions.scala
Labels: version: revision

#4476 Update mapdb to 3.0.8
  project/Versions.scala
Labels: version: revision

#4519 Update paradise to 2.1.1
  build.sbt
Labels: version: revision

#4516 Update fs2-core, fs2-io to 2.2.2
  project/Versions.scala
Labels: version: revision

#4509 Update pathy-argonaut, pathy-core to 0.3.0
  project/Versions.scala
Labels: version: revision
